<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="stylesheets/tokimon.css">
    <script type="text/javascript" src="js/tokimon.js"></script>
    <meta charset="utf-8">

  </head>

        <body style="margin: 0;">
          <div id="header-div">
          </div>

          <header style="margin: 150;">

            <div class="tab">
            <form action="/" method="get">
                <button id="b1" class="tabs" type="submit">Back</button>
            </form>
            </div>

            <h1>Display an Entry</h1>
            <h2>You can find more information about a specific Tokimon here.</h2>
            <h3>Please enter the unique ID of the Tokimon you would like more information about:</h3>

            <label class="labelGreen">TokiDex ID #:</label>
            <input type="text" name="tmName"><br><br>

            <button name="submit" id="dispbutton" class="submitButton" type="button">Submit</button>

            


          </header>

          <footer id="site-footer">
          </footer>

        </body>
      </html>
